export VS_DATA_LOGGING_LEVEL=DEBUG

# export VSDATA_FM_CONNECTION_STRING="DSN=;UID=;PWD="
export VSDATA_FM_CONNECTION_STRING="Driver={FileMaker ODBC};Server=localhost;Database=;UID=;PWD=;"
export VSDATA_FM_LINK_CONNECTION_STRING="Driver={FileMaker ODBC};Server=localhost;Database=;UID=;PWD=;"

export VSDATA_WC_URL="https://example.com"
export VSDATA_WC_KEY="1234abcd"
export VSDATA_WC_SECRET="1234abcd"

# alias vs="poetry run vs"