.DS_Store
**/*.pyc
__pycache__
.vscode*
**/.envrc
.env
.env-test
*.sqlite

*.log
*.img
/tmp/**
!/tmp/**/
!/tmp/**/.gitkeep

.mypy_cache/
/.coverage
/.coverage.*
/.python-version
/.pytype/
/.nox/

# /dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
