fastapi==0.90.1
uvicorn==0.23.2
pydantic==1.10.4
WooCommerce==3.0.0
pandas==1.5.2

ipython
rich==13.3.1
pudb
pre-commit

datascroller==1.4.1

click

# https://github.com/pypyodbc/pypyodbc/issues/26
pypyodbc @ https://github.com/tombola/pypyodbc/archive/main.zip